/*===================================================================================================================*/
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap'); :root {
}

/*===================================================================================================================*/
/*		Font		*/
:root {
    --font-display: 'Poiret One', serif !important;
    --font-body: 'Poiret One', serif !important;
}

/*===================================================================================================================*/
/* BANNER */
.style-profile-summoner-info-component::before {
    content: "";
    opacity: 1;
    position: absolute;
    top: -51px;
    left: -37px;
    width: 150%;
    height: 95%;
    z-index: 0;
    pointer-events: none;
    background-size: contain;
    background-repeat: no-repeat;
    filter: contrast(0.9) saturate(1.2);
    background-image: var(--banner-image) !important;
    clip-path: inset(133px 0px 0px 0px);
}

.challenges-identity-customizer-banner-container::before {
    content: "";
    opacity: 1;
    position: absolute;
    top: -77px;
    left: -42px;
    width: 200%;
    height: 120%;
    z-index: 0;
    pointer-events: none;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: var(--banner-image) !important;
}
.v2-banner-component.local-player::before {
    content: "";
    opacity: 1;
    position: absolute;
    top: -120px;
    left: -54px;
    width: 200%;
    height: 129%;
    z-index: 0;
    pointer-events: none;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: var(--banner-image) !important;
}

@keyframes scaleUp {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}
@keyframes scaleDown {
    from {
        transform: scale(1.1);
    }
    to {
        transform: scale(1);
    }
}

@keyframes ColorUp {
    from {
        background-color: #ff0267;
    }
    to {
        background-color: #ffdfe7;
    }
}

@keyframes ColorDown {
    from {
        background-color: #ffdfe7;
    }
    to {
        background-color: #ff0267;
    }
}